# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
dist/
.npm
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Docker
.docker_data/
postgres_data/
mongo_data/

# IDE
.vscode/
.idea/
.gemini/
